body {
    width: 100%;
    height: auto;
    margin: 0px;
}

main {
    width: 100%;
}

.phone {
    position: relative;
    width: 390px;
    height: 844px;
    background-image: url(backgrund/green_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.divHeader {
    height: 15%;
    border-bottom: black solid 2px;
}

.mainScreen {
    height: 70%;
}

.divFooter {
    height: 15%;
    border-top: black solid 2px;
}

#appNameParent {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

#appName {
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}