@font-face {
    font-family: "Fredoka-VariableFont_wdth\,wght.ttf";
    src: url("fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

.font-zen-text {
    font-family: "Fredoka-VariableFont_wdth\,wght.ttf";
    letter-spacing: 0.52px;
    font-size: 19px;
}

body {
    width: 100%;
    height: auto;
    margin: 0px;
}

main {
    width: 100%;
}

.phone {
    width: 390px;
    height: 844px;
    background: rgba(164, 213, 136, 0.42);
    padding: 20px;
    box-sizing: border-box;
}

.divHeader {
    height: 12%;
    border-bottom: black solid 2px;
    width: 100%;
}

.mainScreen {
    height: calc(100% - 12% - 12%);
    display: flex;
    flex-direction: column;
}

.divFooter {
    height: 12%;
    border-top: black solid 2px;
    display: flex;
    justify-content: center;
}

#appNameParent {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#ZenEgg {
    font-family: "Fredoka-VariableFont_wdth\,wght.ttf";
    color: black;
    margin: 0px;
}

#appLogoParent {
    display: flex;
    justify-content: center;
}

.appLogoBig {
    width: 250px;
}

.appLogoSmall {
    width: 25%;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}

.button {
    background-color: #F5B9CA;
    border-radius: 30px;
    border: 3px solid #000;
    display: flex;
    width: 300px;
    height: 72px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.consistencyQuestion {
    text-align: center;
}

.sizeQuestion {
    text-align: center;
}

.eggButtonsDiv {
    display: flex;
    gap: 10px;
}

.eggButton {
    padding: 20px 30px;
    flex-grow: 1
}

.eggSizeChoiceDiv {
    display: flex;
    gap: 10px;
}

.sizeButton {
    flex-grow: 1;
    padding: 20px 10px;
}

.amountQuestion {
    text-align: center;
}

.amountInputDiv {
    display: flex;
    justify-content: center;
}

.amountInput {
    text-align: center;
}

.boilingInfoDiv {
    text-align: center;
}

.backButton {
    width: 57px;
    height: 51px;
    background: none;
    border: none;
}

.backArrow {
    max-width: 100%;
}

.wellnessQuestionParent {
    text-align: center;
}

.wellnessChoicesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hidden {
    display: none;
}

.summaryDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    text-align: center;
    margin-top: 0px;
}

.todaysPreferences {
    text-align: center;
}

.timerButtonsDiv {
    display: flex;
    gap: 15px;
}

.timerButtons {
    width: 143px;
    height: 50px;
    padding: 10px;
}

.pauseButton {
    display: flex;
}

.stretchingTitle {
    text-align: center;
}

.affirmationMessage {
    text-align: center;
}

.finalElementsDiv {
    text-align: center;
    margin-top: 140px;
}

.finalEggIcon {
    height: 150px;
}